* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: "IBM Plex Sans", sans-serif;
    background-color: black;
    color: rgb(191, 191, 191);
}

i {
    color: #fff;
    height: 1em;
    width: 1em;
}

::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}

span {
    color: rgb(14, 145, 140);
    font-size: 18px;
    font-weight: 700;
    text-shadow: 2px 2px 5px rgba(0, 0, 0);
}

h1 {
    width: 50%;
    line-height: 0.9;
    font-size: 8rem;
}

h2 {
    font-size: 48px;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: rgb(191, 191, 191);
}

li {
    list-style: none;
    cursor: pointer;
}

img {
    width: 50vw;
    transition: all 0.3s ease 0s;
}

header {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex: 6 1 0%;
    min-height: 417px;
    width: 316.359px;
}

.container-introduction {
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 100px;
}
  
.bar {
    margin: 20px 0px;
    border-bottom: 20px solid rgb(14, 145, 140);
    width: 20%; 
}

.d-flex {
    display: flex;
}

.a-style {
    font-size: 50px;
    margin-right: 15px;
}

.a-style:hover, i:hover {
    color: rgb(14, 145, 140);
    transition: all 0.3s ease 0s;
    transform: scale(1.3);
}

.container-about-me {
    flex: 5 1 0%;
}

.description-about-me {
    margin: 20px 0;
    font-size: 20px;
    line-height: 34px;
}

.box-stacks {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.box-stacks li {
    background-color: rgb(17, 17, 17);
    color: rgb(191, 191, 191);
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 18px;
    margin: 4px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
}

.box-stacks li:hover {
    background-color: rgb(14, 145, 140);
    transition: all 0.3s ease 0s;
}

.mt-20 {
    margin-top: 20px;
}

.container {
    display: flex;
    flex-direction: column;
}

.portfolio {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
}

.bar-portfolio {
    border-bottom: 10px solid rgb(14, 145, 140);
    width: 200px;
    outline: none;
    margin-bottom: 20px;
}

.content-portfolio {
    display: flex;
    flex-direction: row;
    min-height: 90vh;
    -webkit-box-align: center;
    align-items: center;
}

.description-portfolio {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.description-project {
    font-size: 18px;
    line-height: 1.7;
}

.btn-repository {
    border: 1px solid rgb(14, 145, 140);
    margin-right: 20px;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
}

.btn-repository:hover {
    background-color: rgb(14, 145, 140);
    box-shadow: rgba(0, 0, 0, 0.41) 0px 9px 17px 5px;
}

.project-another {
    display: flex;
    flex-direction: row-reverse;
    -webkit-box-align: center;
    align-items: center;
    min-height: 562.5px;
    -webkit-box-align: center;
}

.style-footer {
    width: 100vw;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: start;
    -webkit-box-align: center;
    align-items: center;
}

.bar-contact {
    border-bottom: 10px solid rgb(14, 145, 140);
    width: 250px;
    outline: none;
    margin-bottom: 20px;
}

footer {
    margin-top: 50px;
    background: rgba(15, 15, 15, 0.75);
    box-shadow: rgba(0, 0, 0, 0.6) 1px 0px 15px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.space {
    margin: 10px 0;
}

.mr-30 {
    margin-right: 30px;
}

.more-information {
    position: fixed;
    font-size: 2.2rem;
    top: 20px;
    right: 20px;
}

.modal {
   display: none;
   background-color: white; 
   width: 568px; 
   height: 245px; 
   right: 70px; 
   top: 40px;
   border-radius: 15px;
   border: 5px solid rgb(14, 145, 140);
    background-color: rgb(17, 17, 17);
   color: rgb(191, 191, 191);
   padding: 20px;
}

.modal-items {
    margin: 10px 0;
}

.modal-items span {
    font-size: 16px;
    font-weight: normal;
}